	p{
		background-color: lightyellow;
		width: 90%;
		border: 1px solid brown;
        border-radius: 0.5em;
        padding: 0.5em;
        box-shadow: 2px 3px 5px gray;
	}
	strong{
		color: darkred;
	}
	em{
		color: blue;
	}
	h1{
		text-align: center;
		color: red;
		text-shadow: 2px 3px 5px gray;
	}
	code{
		color: darkgreen;
	}
	h2{
		background: linear-gradient(white,gray);
		border-radius: 5px;
		border: 1px solid gray;
	}
    h3{
        color: darkred;
        text-decoration: underline;
    }
    h4{
        color: darkblue;
    }
    pre{
        color: lightgreen;
        background-color: black;
        width: 32em;
        border: 3px ridge brown;
    }
    pre.sortie {
		background-color : lightgreen;
		color: black;
	}
